.App {
  text-align: center;
}

a{
  text-decoration: none;
  color:#fff;
  padding: 1rem;
}
a:hover{
  text-decoration: none;
  color:#666;
}
.load {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.load img{
  width: 600px;
}